// Python cache
**/__pycache__/

// Pycharm
**/.idea/**

// Python Virtual Environment
**/venv

// Dataset
**/data

// Jupyter-notebook
**/.ipynb_checkpoints/

// Mac OS
**/.DS_Store

// zip files
*.zip
